.form-control {
    padding: 0.5rem 0.75rem;
    font-size: .875rem;
    color: #727374;
    border: 1px solid #282828;
    &::placeholder {
        color: #727374;
    }
}
.form-text {
    margin-top: 0.15rem;
}
// box cajas de los iconos de sexo hombre o mujer
.box {
    width: 25%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
}
.box2 {
    width: 75%;
    height: 90px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .box {
        width: 100%;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: flex-start;
    }
    .box2 {
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center; 
        align-items: center;
    }
}
.generos {
    width: 100px;
    height: 39px;
    position: relative;
    top: 2.5px;
    display: flex;
    justify-content: space-between;
}
.genero {
    width: 50px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.genero-active { 
    background-color: $yellow; }

.text-error {
    font-size: 75%;
    margin-top: .15rem;
    color: #f33;
    // line-height: 1;
}
span[class*="fa-asterisk"] {
    color: #f33;
    font-size: 0.5rem;
    position: relative;
    top: -.3rem;
}

.fancy-checkbox input[type="checkbox"], 
.fancy-checkbox .checked, 
.fancy-radio input[type="radio"], 
.fancy-radio .checked {
    display: none;
}

.form__search-job .form-control {
    border: 1px solid #d1d4d4;
}
