.btn-outline-primary {
  color: black; 
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff; 
  border-width: 2px; 
}
.btn-x-circle {
	border-radius: 20px;
}