.bg-white { background-color: white !important; }
.bg-pink-w { background-color: $pink-w !important; }
.bg-orange-w { background-color: $orange-w !important; }
.bg-yellow-w { background-color: $yellow-w !important; }
.bg-black { background-color: #000; }

.bg-gray-light-w { background-color: $gray-light-w !important; }

.bg-faded { background-color: #efefef; }